<div id="page">
  <div>
    <i class="fa-solid fa-hexagon-exclamation text-danger fa-2xl"></i>
    <p class="bold mb-0">Atenção!</p>
    <span
      >A cobrança das operações realizadas pelas empresas desse grupo econômico
      está direcionada para essa empresa que irá excluir.</span
    >
    <span
      >Ao confirmar a exclusão, a cobrança do preço TBK e do reembolso Detran
      (quando for o caso), se dará para a empresa de origem do contrato até que
      seja indicada uma nova empresa do grupo para cobrança.</span
    >
  </div>
  <span>Confirmar a exclusão mesmo assim?</span>
</div>
