@import "$settings";
@import "$tools";

div {
  height: 55vh;
}

#map {
  display: none;
}

#map .state {
  cursor: pointer;
}

#map .state-notification {
  cursor: default;
}

#map .state-notification .shape {
  cursor: default;
  -width: 0;
}

#map .state .shape {
  cursor: pointer;
  -width: 0;
}

#map .state .label_icon_state,
#map .state-notification .label_icon_state {
  fill: #fff;
  @include fontMontserratBold;
  font-size: 11px;
  line-height: 12px;
  font-weight: normal;
}

#map .state .label_state,
#map .state-notification .label_state {
  display: none;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

#map .state:hover .label_state,
#map .state.hover .label_state {
  display: block;
}

// #map .model-blue .state .shape {
//   fill: $primary;
// }

#map .model-blue .state.ativo .shape {
  fill: $blue-600;
}

#map .model-blue .state.notification .shape {
  fill: $warning-800;
}

#map .model-blue .state.ativo .icon_state {
  fill: $blue-600;
  stroke: #fff;
}

#map .model-blue .state.notification .icon_state {
  fill: $warning-800;
  stroke: #fff;
}

#map .model-blue .state .label_icon_state {
  fill: #fff;
}

#map .state-item:hover {
  opacity: 0.90;

  .shape {
    opacity: 0.90;
  }

  .icon_state {
    opacity: 0.90;
  }
}

#tooltip {
  background: #fff;
  padding: 11px;
  border-radius: 10px;
  min-width: 140px;
  position: absolute;
  box-shadow: 0px 12px 17px rgba(0, 0, 0, 0.08),
    0px 5px 22px rgba(0, 0, 0, 0.08), 0px 7px 8px rgba(0, 0, 0, 0.05);
  font-size: 0.8em;
  z-index: 9;
}

#tooltip:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #ffffff transparent;
  border-width: 20px 13px 0;
  bottom: -20px;
  left: 50%;
  margin-left: -13px;
}

.tooltip-title {
  @include fontMontserratBold;
}

.legenda {
  position: absolute;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  left: 10px;
  top: 70%;
  bottom: 150px;
  width: 150px;
  height: 75px;
  background-color: $blue-300;
  border-radius: 5px;

  .dot {
    height: 20px;
    width: 20px;
    background-color: $warning-900;
    border-radius: 50%;
    display: inline-block;
  }

  .label-legenda {
    width: 75%;
    font-size: 12px;
    @include fontMontserratBold
  }
}