@import "$settings";
@import "$tools";

.no-items {
  text-align: center;
  color: $gray-700;
  padding: 30px 0;
}

.box__btn {
  display: flex;
  justify-content: right;
  position: relative;
  gap: 10px;
  margin-top: -68px;
}
