@import '$settings';
@import '$tools';

i {
    font-size: 3rem;
}

.content {
    @include fontMontserratRegular;
    text-align: justify;
    font-size: 14px;
}

b {
    @include fontMontserratBold;
}