.column-max-cancelamento {
    min-width: 122px;
    padding-left: 1rem;
}

.column-max-width {
    padding-left: 1rem;
    max-width: 200px !important;
}

.sticky-column {
    box-shadow: -10px 0 17px rgba(0, 0, 0, 0.08), 0px 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
    min-width: 183px;
    padding-left: 1rem;
}

.overflow-table {
    overflow: auto;
}

.min-padding {
    padding: 0 3.8rem;
}