@import "$settings";

.btn-wrapper {
    margin-top: 0.25rem;
    margin-bottom: auto;
}

.btn-adicionar {
    padding: 0.62rem 1rem;
}

i {
    cursor: pointer;
}

.info-tooltip {
    background-color: $blue-400;
    color: $primary;
}