@import '$settings';
@import '$tools';

.label-filter span {
  @include fontMontserratBold;
}

.label-filter {
  margin: auto 0;
  display: flex;
  align-items: center;

  button {
    padding: 0;
    width: 29px;
    height: 27px;
    border-radius: 4px;
    line-height: 0px;
    margin-left: 4px;

    &.opened {
      border: 1px solid $primary;
      color: $primary;
    }

    &.active {
      color: $primary;
    }
  }
}

.filter {
  display: none;
  width: 326px;
  position: absolute;
  z-index: 9;
  right: 41px;
  top: 263px;
  margin-top: 3px;
  font-size: 14px;

  &.active {
    display: block;
  }

  p {
    @include fontMontserratBold;
    color: $primary;
    font-size: 14px;
    border-bottom: 1px solid $gray-400;
    padding: 6px 0;
    margin-top: 0;
  }

  .mat-form-field {
    width: 128px;
  }
}

.divider {
  margin-top: 20px;
  border-top: 1px solid #D0D3D6;
  padding-top: 14px;
}

.filter-buttons {
  justify-content: space-between;
}

.empresas-tab-label {
  i {
    color: $primary;
    margin-right: 10px;
    font-size: 1.3em;
  }

  span {
    @include fontMontserratBold;
  }
}

.tab-grupo-child {
  margin-top: -17px;
  height: 36px;
}