################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JIRAIA_IA_WEB2/FileContentIndex
