<mat-card class="espelho-contrato">
  <div class="panel-title"> Para empresas administradores de consórcio </div>

  <div fxLayout="row wrap" fxLayoutGap="10px grid" class="mt-2">
    <div fxFlex="50" class="item">
      <div class="item-title">Cota do Consórcio</div>
      <div class="item-description">{{ contrato?.financiamento?.consorcio?.cota ?? '-' }}</div>
    </div>
    <div fxFlex="50" class="item">
      <div class="item-title">Nº do Grupo</div>
      <div class="item-description">{{ contrato?.financiamento?.consorcio?.grupo ?? '-' }}</div>
    </div>
  </div>
</mat-card>