<div fxFlex="row" fxLayoutAlign="center center" class="toolbar">
    <button mat-icon-button (click)="onActiveMenu()" [ngClass]="{ 'active': menuActive }" id="menuHamburger"
        class="menu-hamburger">
        <div class="menu">
            <div *ngIf="!menuActive">
                <i class="fal fa-bars menu-hamburger"></i>
            </div>
            <div *ngIf="menuActive">
                <i class="fal fa-times menu-hamburger"></i>
            </div>
        </div>
    </button>
    <span style="margin-left: 17px; padding-left: 24px;">
        <a routerLink="/" class="d-flex">
            <img src="./../../../../assets/img/backoffice.svg" alt="logo tecnobank">
        </a>
    </span>
    <span class="spacer"></span>
    <div class="header-icons">
        <div class="wrapper"> <i class="fal fa-envelope"></i> </div>
        <app-notificacao></app-notificacao>
    </div>
    <div class="user-image">
        {{ inicialUsuario }}
    </div>
    <div [matMenuTriggerFor]="menu" #menuTrigger class="menu-user-name">
        {{ nomeUsuario }}
        <div class="wrapper menu-user-name"> <i class="fal fa-caret-down"></i> </div>
    </div>
    <mat-menu #menu="matMenu">
        <app-dialog-profile></app-dialog-profile>
    </mat-menu>
    <div class="info-loading">
        <app-info-loading></app-info-loading>
    </div>
</div>