@import '$tools';
@import '$settings';

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p {
  font-size: 14px;
  margin: 0;
}

button {
  width: 305px;
}

@media print {
  * {
    visibility: visible !important;
    font-family: Helvetica, sans-serif;
    font-size: 14px !important;
  }

  .item-title {
    font-size: 8pt !important;
  }

  mat-card {
    box-shadow: none !important;
  }

  app-liberar-acessos {
    display: none !important;
  }
}