@import "$settings";
@import "$tools";

p {
    font-size: 12px;
}

.periodo {
    background-color: #DFEEFC;
    color: $blue-700;
    font-size: 12px;
    margin-left: 1rem;

    &:hover {
        color: $white;
        background-color: $blue-600;
    }

    &.selected {
        color: $white;
        background-color: $primary;
    }
}

.grafico-linhas {
    overflow: hidden;

    .conteudo {
        height: 350px;
        max-width: 100%;

        .opacity-0 {
            opacity: 0;
        }
    }
}

.filter-search {
    font-size: 12px !important;

    .filter-header {
        border-bottom: 1px solid $gray-400;

        span {
            @include fontMontserratBold;
            color: $gray-800;
        }

        button {
            font-size: 12px !important;
            border-bottom: none;
        }
    }

    form {
        padding: 1rem;

        .filtro-datas {
            padding-right: .65rem;
        }

        .confirmar {
            color: $white;
            background-color: $primary;
            font-size: 12px;
        }
    }
}