<mat-card class="espelho-contrato">
  <div class="panel-title"> Dados do credor </div>

  <div fxLayout="row wrap" fxLayoutGap="10px grid" class="my-2">
    <div fxFlex="50" class="item">
      <div class="item-title">Agente financeiro</div>
      <div class="item-description">{{ contrato?.credor.nomeAgenteFinanceiro ?? '-' }}</div>
    </div>
    <div fxFlex="50" class="item">
      <div class="item-title">CNPJ</div>
      <div class="item-description">{{ credorDocumento }}</div>
    </div>
    <div fxFlex="50" class="item">
      <div class="item-title">Logradouro</div>
      <div class="item-description">{{ contrato?.credor.endereco.logradouro ?? '-' }}</div>
    </div>
    <div fxFlex="50" class="item">
      <div class="item-title">Número</div>
      <div class="item-description">{{ contrato?.credor.endereco.numero }}</div>
    </div>
    <div fxFlex="50" class="item">
      <div class="item-title">Complemento</div>
      <div class="item-description">{{ contrato?.credor.endereco.complemento ?? '-' }} </div>
    </div>
    <div fxFlex="50" class="item">
      <div class="item-title">Bairro</div>
      <div class="item-description">{{ contrato?.credor.endereco.bairro }}</div>
    </div>
    <div fxFlex="50" class="item">
      <div class="item-title">Município - UF</div>
      <div class="item-description">{{ contrato?.credor.endereco.municipio }} - {{ contrato?.credor.endereco.uf ?? '-'
        }}</div>
    </div>
    <div fxFlex="50" class="item">
      <div class="item-title">CEP</div>
      <div class="item-description">{{ contrato?.credor.endereco.cep }}</div>
    </div>
    <div fxFlex="50" class="item">
      <div class="item-title">Telefone</div>
      <div class="item-description">({{ contrato?.credor?.contato?.ddd ?? '-' }}) {{ contrato?.credor?.contato?.telefone
        ?? '-' }}</div>
    </div>
    <div fxFlex="50" class="item">
      <div class="item-title">E-mail</div>
      <div class="item-description">{{ contrato?.credor.contato.email }}</div>
    </div>
  </div>
</mat-card>