<div>
    <section class="text-paginator">
        <div class="row d-flex">
            <section class="default-text" *ngIf="paginator">
                Mostrando
                {{
                paginator?.pageSize > totalItens
                ? totalItens
                : paginator?.pageSize
                }}
                de {{ totalItens }} resultados
            </section>
        </div>
    </section>
    <mat-paginator [pageSizeOptions]="[25, 50, 75, 100]" [length]="totalItens" #paginator></mat-paginator>

    <div>
        <table mat-table [dataSource]="items$ | async" (matSortChange)="sortData($event)" #table="matSort"
            aria-describedby="Conciliação" matSort>
            <ng-container matColumnDef="empresa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
                <td mat-cell *matCellDef="let element" [matTooltip]="element.nomeFantasia || 'Todas'" class="column-max-width">{{
                    element?.nomeFantasia || 'Todas' }}</td>
            </ng-container>

            <ng-container matColumnDef="modelo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Modelo de relatório</th>
                <td mat-cell *matCellDef="let element" [matTooltip]="retornarModelo(element.modelo)" class="column-max-width">{{
                    retornarModelo(element.modelo) }}</td>
            </ng-container>

            <ng-container matColumnDef="uf">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>UF</th>
                <td mat-cell *matCellDef="let element" class="column-max-width">{{
                    element.uf === '' ? '-' : element.uf  }}</td>
            </ng-container>

            <ng-container matColumnDef="formato">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Formato</th>
                <td mat-cell *matCellDef="let element" class="column-max-width">{{
                    retornarFormato(element.formato) }}</td>
            </ng-container>

            <ng-container matColumnDef="mes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mês</th>
                <td mat-cell *matCellDef="let element" class="column-max-width">
                    {{ retornarNomeMes(element.periodoRelatorio) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="ano">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ano</th>
                <td mat-cell *matCellDef="let element" class="column-max-width">
                    {{ element.periodoRelatorio | date: "yyyy" }}
                </td>
            </ng-container>

            <ng-container matColumnDef="dataSolicitacao">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Data solicitação</th>
                <td mat-cell *matCellDef="let element" class="column-max-width">{{
                    element.criadoEm | date: "dd/MM/yyyy HH:mm" }}</td>
            </ng-container>

            <ng-container matColumnDef="solicitante">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Solicitante</th>
                <td mat-cell *matCellDef="let element" class="column-max-width">
                    {{ retornarNomeCompleto(element) }}
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>
                    Status </th>
                <td mat-cell *matCellDef="let element" class="column-max-width">{{
                    retornarStatus(element.status) }}</td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="min-width">
                    <div>
                        <button mat-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="baixarRelatorio(element)" [disabled]="element.status !== 3"
                                [id]=" utility.getElementId(2, 'baixar-relatorio-faturamento' , element.id)">
                                Baixar
                            </button>
                            <button mat-menu-item disabled
                                [id]="utility.getElementId(2, 'enviar-email-relatorio-faturamento', element.id)">
                                Enviar por e-mail
                            </button>
                        </mat-menu>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="semRegistro">
                <th class="text-center feedBack pt-1" mat-cell *matFooterCellDef colspan="11">
                    <img src="./../../../../../../../../../../assets/img/custom-icons/icon-vazio-artigos.svg"
                        alt="Não há registros." />
                    <p class="desk bold text-gray-700"> Não há registros. </p>
                </th>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr mat-row *matFooterRowDef="['semRegistro']" [ngClass]="{'d-none': totalItens > 0 }"></tr>
        </table>

        <section class="text-paginator">
            <div class="row d-flex">
                <section class="default-text">
                    Mostrando
                    {{
                    paginator?.pageSize > totalItens
                    ? totalItens
                    : paginator?.pageSize
                    }}
                    de {{ totalItens }} resultados
                </section>
            </div>
        </section>
        <mat-paginator (page)="syncPrimaryPaginator($event)" [pageSize]="paginator.pageSize"
            [pageIndex]="paginator.pageIndex" [length]="paginator.length"
            [pageSizeOptions]="paginator?.pageSizeOptions">
        </mat-paginator>
    </div>
</div>