th {
    text-align: left;
    font-weight: normal;
    color: #384047;

}

td {
    text-align: left;
    font-weight: bold;
    line-height: 20px;
    color: #384047;
}

table {

    width: 100%;
}

.subtitle {
    color: #1666AE;
}

.label-title {
    color: #384047;
    font-weight: normal;
}

.div-section {
    background: #F4F6F6;
    border: 1px solid #D0D3D6;
    padding: 20px;
    border-radius: 15px;
}