@import '$tools';
@import '$settings';

@media print {
  * {
    visibility: visible !important;
    font-family: Helvetica, sans-serif;
    font-size: 14px !important;
  }

  .item-title {
    font-size: 8pt !important;
  }

  mat-card {
    box-shadow: none !important;
  }
}